body {
    display: grid;
    grid-template-columns: 3,1fr;
background-color: rgb(255, 255, 255);
}

header {
     background-color: bisque;
     border: 3px solid;
}

h1 {
    font-size: 40px;
    text-align: center;
}


.button {
  background-color: #46a888;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;  
  transition-duration: 0.4s;
}

.button:hover {
    background-color:#46a888;
    color: rgb(0, 0, 0);
}

.containerGrid {
display: grid;
grid-template-columns: 1fr;
gap: 20px;
font-size: 16px;
}

.serviceItem{
    background-color: rgb(194, 222, 248);
    padding: 20px;
    border-radius: 50px;
    text-align: justify;
}



@media (min-width:1024px) {
    .containerGrid{
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
        padding: 30px;
    }
}

h2{
    text-align: center;
}

.container{
   width: 90%;
   max-width: 900px;
   margin: 0 auto;
   display: flex;
   list-style: none;
   justify-content:space-between;
   align-items: center;
}

